@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
    font-family: 'Permanent Marker';
    
}

.logo{
    text-align: left;
    margin-top: -18vw;
    
}
body{
    background-color: black;
}
input{
    width: 20vw;
    height: 3vw;
    margin-left: 60vw;
    
}

.box{
  
    display: flex;
    flex-direction: column;
    row-gap: 0.1vw;
    align-items: end;
    margin-top: 15vw;
    margin-right: 10vw;
    
    
}

#back{
    position: absolute;
    
    margin-top: -8vw;
    margin-left: 44vw;
    z-index: -1;
    width: 50vw;

    
}
.form1{
    margin-top: 6vw;
    margin-left: 10vw;
}

.p-1form{
    margin-right: 22vw;
    margin-top: 8vw;
    position: absolute;
    
}

#logos{
    height:26vw
}

.play-button{
    margin-left: 40vw;
    margin-top: 3vw;
    
}

#play{
    border-radius: 15px;

}

.form-form1{
    margin-top: 8vw;
}





