@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
    font-family: 'Permanent Marker';
    /* background-color: black; */
}

.logo{
    text-align: left;
    margin-top: -18vw;
    
}
body{
    background-color: black;
}
input{
    width: 20vw;
    height: 3vw;
    margin-left: 60vw;
    /* margin-top: 6vw; */
}

.box{
  
    display: flex;
    flex-direction: column;
    row-gap: 0.1vw;
    align-items: end;
    margin-top: 15vw;
    margin-right: 10vw;
    
    
}

#back{
    position: absolute;
    
    margin-top: -8vw;
    margin-left: 44vw;
    z-index: -1;
    width: 50vw;

    
}
.form1{
    margin-top: 6vw;
    margin-left: 10vw;
}

.p-1form{
    margin-right: 22vw;
    margin-top: 8vw;
    position: absolute;
    
}

/* .form-form1{
    position: absolute;
    left: -140px;
    top: 37px;

}

.form-form2{
    position: absolute;

} */

#logos{
    height:26vw
}

.play-button{
    margin-left: 40vw;
    margin-top: 3vw;
    
}

#play{
    border-radius: 15px;

}

.form-form1{
    margin-top: 8vw;
}

/* @media (max-width:300px){
    .logo{
        height: 40vw;
        width: 4vw;
        margin-top: -120vw;
        margin-left: 40vw;
    }

    #logos{
        height: 60vw;
        margin-left: -34vw;
    }

    .play-button{
        margin-top: 120vw;
        margin-left: 22vw;
    }

    #back{
        height: 70vw;
        margin-top: 80vw;
        width: 100vw;
        margin-left: 10vw;

    }

    .form-form1{
        margin-top: 120vw;
        margin-right: 0vw;
        
    }

    .form-form2{
        margin-right: 0vw;
    }

    .p-1form{
        margin-top: -18vw;
        margin-right: 42vw;
               
    }

    
}

@media (min-width: 301px) {

    #back{
        width: 53vw;
        height: 38vw;
        margin-left: 40vw;
        
    }

    .play-button{
        margin-top: 10vw;
        margin-left: 20vw;
        
    }

    #logos{
        margin-top: -8vw;
    }

    .form-form2{
        margin-right: -1vw;
        margin-top: 0vw;
    }

    .form-form1{
        margin-right: -1vw;
        margin-top: 13vw;
    }

    .p-1form{
        margin-top: -12vw;
    }


    
}

@media (max-width: 500px) {
    
    .p-1form{
        margin-top: -9.9vw;
    }
} */



